@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Menlo';
  src: url('../../public/fonts/Menlo.ttc');
}

@font-face {
  font-family: 'Cabin';
  src: url('../../public/fonts/Cabin-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cabin';
  src: url('../../public/fonts/Cabin-Medium.ttf') format('truetype');
  font-weight: medium;
  font-style: italic;
}

@font-face {
  font-family: 'Cabin';
  src: url('../../public/fonts/Cabin-SemiBold.ttf') format('truetype');
  font-weight: semibold;
  font-style: normal;
}

@font-face {
  font-family: 'Cabin';
  src: url('../../public/fonts/Cabin-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cabin';
  src: url('../../public/fonts/Cabin-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Cabin';
  src: url('../../public/fonts/Cabin-MediumItalic.ttf') format('truetype');
  font-weight: medium;
  font-style: italic;
}

@font-face {
  font-family: 'Cabin';
  src: url('../../public/fonts/Cabin-SemiBoldItalic.ttf') format('truetype');
  font-weight: semibold;
  font-style: italic;
}

@font-face {
  font-family: 'Cabin';
  src: url('../../public/fonts/Cabin-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
